HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

docs/*.Identifier
pom.xml~
src/main/java/com/antonio/pokespring/PokemonApplication.java~
src/main/java/com/antonio/pokespring/config/WebClientConfig.java~
src/main/java/com/antonio/pokespring/controller/PokemonController.java~
src/main/java/com/antonio/pokespring/controller/advice/GlobalExceptionHandler.java~
src/main/java/com/antonio/pokespring/exception/PokeApiException.java~
src/main/java/com/antonio/pokespring/exception/PokemonNotFoundException.java~
src/main/java/com/antonio/pokespring/model/Pokemon.java~
src/main/java/com/antonio/pokespring/model/dto/FavoriteRequestDTO.java~
src/main/java/com/antonio/pokespring/model/dto/PokemonPageDTO.java~
src/main/java/com/antonio/pokespring/model/dto/PokemonResponseDTO.java~
src/main/java/com/antonio/pokespring/model/pokeapi/AbilityInfo.java~
src/main/java/com/antonio/pokespring/model/pokeapi/PokeApiResponse.java~
src/main/java/com/antonio/pokespring/model/pokeapi/TypeInfo.java~
src/main/java/com/antonio/pokespring/repository/PokemonRepository.java~
src/main/java/com/antonio/pokespring/service/PokeApiService.java~
src/main/java/com/antonio/pokespring/service/PokemonService.java~
